{%extends 'base.html'%}
{% block content %}  
    {%for messages in get_flashed_messages()%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ messages }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        
    {%endfor%}
    
        <h2>Dashboard</h2>
        </br>
        <div class="card">
            <div class="card-header">
                <strong>{{current_user.name}}</strong>
            </div>
            <div class="card-body">
              <h5 class="card-title">Here is your account details</h5>
              <p class="card-text"><strong>Username: </strong>{{current_user.username}}</br>
                <strong>User Id: </strong>{{current_user.id}}</br>
                <strong>Email: </strong>{{current_user.email}}</br>
                <strong>Favorite Color: </strong>{{current_user.favorite_color}}</br>
                <strong>Date Joined: </strong>{{current_user.date_added}}</br>
              </p>
              <a href="{{url_for('logout')}}" class="btn btn-primary">Logout</a>
            </div>
          </div>
        
{%endblock%}